.places__paragraph{
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  grid-area: paragraph;
  text-align: left;
  padding-top: 1px;
  margin: 0;
}

@media screen and (max-width: 768px){
  .places__paragraph{
    font-size: 16px;
    line-height: 26px;
  }
}
