.cover__link{
  min-width: 1184px;
  min-height: 708px;
  background: url(../../../images/cover/cover-trains.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 0;
}
.cover__link::before {
  content: ' ';
  min-width: 1184px;
  min-height: 740px;
  background-color: #2A2C2F;
  opacity: 0.4;
  transition: 0.4s;
  position:absolute;
}
.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1240px){
  .cover__link{
    min-width: 100%;
    min-height: 100%;
  }
}




