.page{
  max-width: 1280px;
  min-width: 320px;
  font-family: "Inter", "Arial", "sans-serif";
  background-color: #2A2C2F;
  color: #FFFFFF;
  text-align: center;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 786px){
  .page{

  }
}

@media screen and (max-width: 320px){
  .page{

  }
}
