@import url(../photo-grid/__content/photo-grid__content.css);

.photo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  gap: 18px;
  list-style-type: none;
  box-sizing: border-box;
  padding-top: 91px;
  margin: 0;
}
@media screen and (max-width: 320px){
  .photo-grid{
    row-gap: 12px;
    padding-top: 64px;
  }
}
