.intro__list{
  list-style-type: none;
  max-width: 690px;
  max-height: 90px;
  font-size: 12px;
  font-weight: 900;
  line-height: calc(18 / 12);
  text-align: left;
  padding: 32px 0 0;
  margin: 0;
}
