.places__link{
  max-width: 456px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  grid-area: url-link;
  padding: 0;
  margin:0;
}
.places__link:hover{
  opacity: 0.8;
  transition: 0.4s;

}
