.lead__title{
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: calc(100 / 96);
  margin: 0 ;
}
@media screen and (max-width: 767px){
  .lead__title{
    max-width: 500px;
    font-size: 38px;
  }
}
@media screen and (max-width: 320px){
  .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: calc(44 / 40);
  }
}
