@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__list-number/intro__list-number.css);

.intro{
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 94px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .intro{
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px){
  .intro{
    padding-top: 66px;
  }
}
