.intro{
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 94px 0 0;
  margin: 0 auto;
}
@media screen and (max-width: 768px){
  .intro{
    padding-top: 90px;
  }
}
@media screen and (max-width: 320px){
  .intro{
    padding-top: 66px;
  }
}
