.header__lang-links{
  min-width: 77px;
  min-height: 32px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px){
  .header__lang-links{
  }
}
@media screen and (max-width: 320px){
  .header__lang-links {
    min-width: 62px;
    align-items: start;
  }
}
