.header__lang-links{
  min-width: 77px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding:0;
  margin: 0;
}
@media screen and (max-width: 320px){
  .header__lang-links {
    min-width: 62px;
    align-items: end;
  }
}
