.intro__title{
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: calc(58 / 54);
  letter-spacing: 0.3px;
  text-align: left;
  margin: 0;


}

@media screen and (max-width: 1024px){
  .intro__title{

  }
}
@media screen and (max-width: 768px){
  .intro__title{


  }
}
@media screen and (max-width: 668px){
  .intro__title{
    font-size: 35px;


  }
}
@media screen and (max-width: 320px){
  .intro__title{
    font-size: 32px;
    font-style: normal;
    line-height: 35px;
  }
}
