.intro__title{
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: calc(58 / 54);
  text-align: left;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px){
  .intro__title{
    font-size: 32px;
    font-style: normal;
    line-height: 35px;
  }
}
